---
name: Go Test

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: Test doh-server
        run: go test ./doh-server/...

      - name: Test json-dns
        run: go test ./json-dns/...
